<!-- Logo design for Header section-->
<div class="header_logo d-flex gap-1 text-align-center">
    <img src="../../assets/Images/Top_Logo_2.png" alt="Logo" width="25px" height="25px">
    <p class="fw-bold">Logoipsum</p>
</div>

<!-- Sign in as page section -->
<div class="home-panel d-flex justify-content-between">
    <div>
        <h2 class="mb-4">Sign in as</h2>
        <div class="admin d-flex align-items-center mb-4">
            <img class="pe-3" src="../../assets/Images/admin.png" alt="admin" height="25px">
            <label>
                Admin
                <input type="radio"  routerLink="/AddProduct" >
            </label>
        </div>

        <div class="user d-flex align-items-center mt-4 ">
            <img class="pe-3" src="../../assets/Images/user.png" alt="user" height="25px">
            <label>
                User
                <input type="radio"  routerLink="/Shopping">
            </label>
        </div>
    </div>
    <img src="../../assets/Images/mobile.png" alt="mobile" width="400px" height="435px"> <!--mobile image  -->
</div>

<!-- footer page section -->
<footer class="d-flex justify-content-between">
    <p> 2022 @ copyright</p>
    <img src="../../assets/Images/Top_Logo_2.png" alt="logo" weight="20px" height="20px">
    <div class="d-flex">
        <p>privacy policy</p>
        <p class="ms-3">terms & condition</p>
    </div>
</footer>